@charset "utf-8";

/* CSS Document */

p {
     margin-left: 200px;
	 margin-right: 200px;
	 font-family: 'Oswald', sans-serif;
	 letter-spacing: 1px;
	 color:#FFF;
	 font-size: 130%;
}


h1 {
	font-family: 'Playfair Display SC', serif;
	font-size: 350%;
	color:#FFF;
	}

h2 {
	font-family: 'Playfair Display SC', serif;
	margin-left: 140px;
	color:#FFF;
    font-size: 200%;

	}
	
h3 {
	margin-left: 30px;
	color:#FFF;
    margin-left: 200px;
	font-family: 'Oswald', sans-serif;
    font-size: 150%;

	}
	
body {
	background: #43cea2; /* fallback for old browsers */
	background: -webkit-linear-gradient(#43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
	
	